/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #060d17;
  color: #ffffff;
  min-height: 100vh;
  line-height: 1.5;
}

/* Login css */

main {
  display: flex;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#right {
  background-color: #131e44;
  min-height: 100vh;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#register {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
}

form#register input, 
form#register button {
  padding: 0.75rem;
}

form#register input {
  background-color: #1f2937;
  border: none;
  border-radius: 0.5rem;
  color: #e0e0e0;
  outline: none;
}

form#register input:focus {
  outline: 1px solid red;
}

form#register label {
  color: #e0e0e0;
}

form#register button {
  background-color: #d32f2f;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 700;
}

form#register button:hover {
  cursor: pointer;
}

#left a {
  color: #d32f2f;
}

#left img {
  width: 12rem;
  height: 6rem;
}

#right img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Xs */

#left {
  width: 100%;
}

#right {
  width: 0
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
  form#register {
    max-width: 576px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    padding: 0rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #left, #right {
    width: 50%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
