/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #060d17;
  color: #ffffff;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

h1 {
}

form#profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3.5rem;
  margin: 0;

  background-color: #161d25;
  border-radius: 1rem;
}

form#profile fieldset {
  width: 100%;
  border-radius: 0.5rem;
  border-color: gray;
  background-color: #1f2937;
  margin: 0;
  padding: 0.5rem;
}

form#profile section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form#profile legend {
  font-size: 0.75rem;
}

form#profile input {
  background-color: #1f2937;
  border: none;
  border-radius: 0.5rem;
  color: #e0e0e0;
  outline: none;
  width: 100%;
}

form#profile button {
  padding: 0.75rem;
  background-color: #d32f2f;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 700;
}

form#profile button:hover {
  cursor: pointer;
}

.image-uploader {
  position: relative;
}

.image-uploader:hover {
  filter: brightness(0.9);
}

#profileImage{
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

#image-edit {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 0.2rem;
  transform: translate(5.25rem, -2rem);
  pointer-events: none;
  z-index: 2;
}

#image-edit .material-icons {
  color: red;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  font-weight: 700;
}

nav#profileSidebar {
  width: 20rem;
  padding: 2rem;
  background-color: #161d25;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav#profileSidebar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav#profileSidebar > div > a > img {
  width: 8rem;
}

nav#profileSidebar > div > span {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}

#navUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#navUser > img {
  width: 2rem;
  height: 2rem;
}

#navUser > h1 {
  font-size: 1.1rem;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

#navUserImage {
  border-radius: 100%;
}

nav#profileSidebar .navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
}

nav#profileSidebar .navLink > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

nav#profileSidebar .navLink > h1 {
  font-size: 1rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

nav#profileSidebar .navLink.navLinkActive {
  background-color: #f6e7e7;
  border-radius: 0.5rem;
  border-left: 0.25rem solid red;
}


nav#profileSidebar .navLink.navLinkActive > span {
  color: red;
}

#closeProfileSidebar:hover,
#expandMobileNav:hover {
  cursor: pointer;
}

nav#profileSidebar .navLink.navLinkActive > h1 {
  color: red;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

nav#profileSidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #18182a;
  transition: left 0.5s ease;
}

#profileMobileNav {
  height: 4rem;
  width: 100%;
  background-color: #161d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#profileMobileNav span,
#profileMobileNav img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: red;
}

#profileMobileNav img {
  border-radius: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #profileMobileNav, #closeProfileSidebar {
    display: none;
  }

  nav#profileSidebar {
    display: flex;
    position: static;
  }

  html body {
    display: flex;
    flex-direction: row;
  }
  form#profile section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
