.sf-toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  padding: 1.5rem;
  gap: 2rem;
  background-color: white;
  color: black;
  border-left: 5px solid gray;
}

.sf-toast-content {
  width: 16rem;
}

.sf-toast-content h1, .sf-toast-content p {
  margin: 0;
  font-size: 1rem;
}

.sf-toast-left {
  border-radius: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 900;
}

.sf-toast .sf-toast-right {
  font-weight: 900;
  color: black;
}

.sf-toast-success {
  background-color: #e9f3e8;
  color: black;
  border-left: 5px solid green;
}

.sf-toast-success .sf-toast-left {
  background-color: green;
  color: white;
}

.sf-toast-error {
  background-color: #f6e7e7;
  color: black;
  border-left: 5px solid red;
}

.sf-toast-error .sf-toast-left {
  background-color: red;
  color: white;
}
