/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #060d17;
  color: #ffffff;
  min-height: 100vh;
  line-height: 1.5;
}

/* Login css */

main {
  display: flex;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    padding: 0rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
