@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --plyr-color-main: #f11325;
}


html body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #060d17;
  color: #ffffff;
  min-height: 100vh;
  line-height: 1.5;
}

span, button, p {
  font-family: "Roboto", "Arial", sans-serif;
}

a#video {
  display: block;
  cursor: pointer;
}

#video img,
.profile-image img,
.platform-image img,
main.desktop .comments .comment .image img,
main.desktop .commentsModal .comment .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image img,
main.desktop .comments .comment .image img,
main.desktop .commentsModal .comment .image img {
  border-radius: 100%;
}

#comment-input-and-buttons > div {
  display: flex;
  justify-content: end;
  column-gap: 1rem;
}

#comment-input-and-buttons > div button,
.commentsModal #top-and-newest button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 500;
  filter: brightness(100%);
}

#comment-input-and-buttons > div button:hover,
.commentsModal #top-and-newest button:hover {
  filter: brightness(90%);
}

#comment-input-and-buttons > div button:focus,
.commentsModal #top-and-newest button:focus {
  filter: brightness(80%);
}

#comment-input-and-buttons > div #post-comment,
.commentsModal #top-and-newest #top-comments {
  background-color: #f11325;
  color: white;
}

#comment-input-and-buttons > div #cancel-comment,
.commentsModal #top-and-newest #newest-comments {
  background-color: white;
  color: black;
}

/* Xs */
main.desktop {
  display: none;
}

main.mobile {
  padding: 0rem;
  display: flex;
  column-gap: 1.5rem;
  flex-direction: column;
}

main.mobile #video {
  aspect-ratio: 16/9;
  width: 100%;
  background-color: gray;
}

main.mobile > #video {
  position: sticky;
  top: 0;
}

main.mobile .info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


#title-name-views-and-more {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main.mobile .video-title {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  margin: 0;
  color: #f1f1f1;
}

main.mobile #views-date-more .views::after {
  content: "\00B7";
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

main.mobile .views, main.mobile .date {
  color: #aaa;
}

main.mobile .views, main.mobile .date, main.mobile .more {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

main.mobile .more {
  margin-left: 0.25rem;
}


#profile-and-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
  align-items: center;
}

.profile-image {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 100%;
}

.profile-name {
  font-size: 0.875rem;
  margin: 0;
}

.profile-subscribers {
  font-size: 0.75rem;
  margin: 0;
}

.profile-subscribers {
  color: #aaa;
}

button.subscribe {
  font-family: inherit;
  border: none;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.25rem;
  background-color: white;
  color: black;
  border-radius: 1.125rem;
  height: 2.25rem;
  cursor: pointer;
}

button.subscribe:hover {
  background-color: #d9d9d9;
}

.action-buttons {
  display: flex;
  column-gap: 0.5rem;
}

.action-buttons #like-and-dislike {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 1rem;
}

.action-buttons .like, .action-buttons .dislike {
  background-color: #272727;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.325rem 0.65rem;
}

.action-buttons .like {
  border-radius: 1rem 0rem 0rem 1rem;
}

.action-buttons .dislike {
  border-radius: 0rem 1rem 1rem 0rem;
}

.action-buttons .like:hover, .action-buttons .dislike:hover {
  filter: brightness(150%);
}

.action-buttons .like .material-icons,
.action-buttons .dislike .material-icons {
  font-size: 1.5rem;
}

.action-buttons #like-and-dislike hr {
  margin: 0;
}

.action-buttons button.share,
.action-buttons button.report {
  background-color: #272727;
  border: none;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.325rem 0.65rem;
  cursor: pointer;
}

.action-buttons button.share:hover,
.action-buttons button.report:hover {
  filter: brightness(150%);
}

.action-buttons button.share .material-symbols-outlined,
.action-buttons button.report .material-symbols-outlined {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

main.mobile .commentsModal .comments {
  overflow: scroll;
}

.close-comments:hover {
  cursor: pointer;
}

main.mobile .commentsModal,
main.mobile .descriptionModal {
  position: absolute;
  z-index: 1729;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #272727;
}

main.mobile .descriptionModal {
  overflow: scroll;
}

main.mobile .commentsModal #comments-and-close,
main.mobile .descriptionModal #description-and-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main.mobile .commentsModal #comments-and-close span,
main.mobile .descriptionModal #description-and-close span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

main.mobile .commentsModal #comments-and-close .material-symbols-outlined,
main.mobile .descriptionModal #comments-and-close .material-symbols-outlined {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

main.mobile .commentsModal #top-and-newest {
  display: flex;
  column-gap: 1rem;
}

main.mobile .comments {
  background-color: #272727;
  padding: 0.75rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

main.mobile #number-of-comments {
  color: #aaa;
}

main.mobile .comment {
  display: flex;
  column-gap: 0.675rem;
  align-items: center;
}

main.mobile .comments .comment .profile-image,
main.mobile .commentsModal .comment .profile-image {
  width: 1.5rem;
  height: 1.5rem;
}

main.mobile .comments .comment .profile-text,
main.mobile .commentsModal .comment .profile-text {
  font-weight: 400;
}

main.mobile .recommendation .info .profile-image {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

main.mobile .recommendation .info {
  padding: 0.875rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
}

main.mobile #title-name-views .title {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25;
}

main.mobile #title-name-views {
  display: flex;
  flex-direction: column;
}

main.mobile #title-name-views #name-and-views .profile-name,
main.mobile #title-name-views #name-and-views .views {
  font-size: 0.75rem;
  color: #aaa;
}

main.mobile #title-name-views #name-and-views .profile-name::after {
  content: "\2022";
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}


main.mobile .commentsModal #add-comment {
  display: flex;
  column-gap: 1rem;
}

main.mobile .commentsModal #add-comment .profile-image {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}

main.mobile .commentsModal #add-comment input {
  border: none;
  border-bottom: 1px solid #333;
  color: #aaa;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  width: 100%;
  background-color: inherit;
}

main.mobile .commentsModal #add-comment input:focus {
  outline: none;
}

main.mobile .commentsModal #add-comment .material-symbols-outlined:hover {
  cursor: pointer;
}

main.mobile .commentsModal .comment {
  display: flex;
  column-gap: 1rem;
}

main.mobile .commentsModal #name-and-date {
  display: flex;
  column-gap: 0.5rem;
}

main.mobile .commentsModal #name-and-date .name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

main.mobile .commentsModal #name-and-date .date {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #aaa;
}

main.mobile .commentsModal .comment .text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}

main.mobile .commentsModal .comment .image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

main.mobile .commentsModal .comment #like-and-dislike {
  display: flex;
  column-gap: 0.5rem;
}

main.mobile .commentsModal .comment #like-and-dislike button {
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
}

main.mobile .commentsModal .comment #like-and-dislike span {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}

main.mobile .descriptionModal #profile-image-and-channel-name {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}


main.mobile .descriptionModal #stats {
  display: flex;
  column-gap: 1rem;
}

main.mobile .descriptionModal #stats div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  background-color: rgba(255, 0, 0, 0.5);
  flex: 1;
  align-items: center;
  border-radius: 0.75rem;
}


main.mobile .descriptionModal #stats div span:first-child {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: white;
}


main.mobile .descriptionModal #stats div span:nth-child(2) {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

main.mobile .descriptionModal > .description {
  padding: 0.75rem 0.75rem;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 0.75rem;
}

main.mobile .descriptionModal > .description p {
  color: white;
  line-height: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main.desktop {
    display: block;
  }

  main.mobile {
    display: none;
  }

  main.desktop {
    padding: 12px 28px 0rem 28px;
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
  }

  main.desktop #player-all {
    flex: 2.2;
    display: flex;
    flex-direction: column;
  }

  main.desktop #player-and-info {
    display: flex;
    flex-direction: column;
  }

  main.desktop #player-and-info #video {
    position: relative;
    aspect-ratio: 16/9;
  }

  main.desktop #player-and-info .info {
    flex: 1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }

  main.desktop .recommendations {
    flex: 1;
  }

  main.desktop .profile-image {
    width: 2.5rem;
    height: 2.5rem;
  }

  main.desktop .video-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
  }

  main.desktop .info #profile-subscribe-and-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main.desktop #profile-name-and-subscribers {
    display: flex;
    flex-direction: column;
  }

  #profile-name-and-subscribers .profile-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
  }

  main.desktop .subscribe {
    margin-left: 1.5rem;
  }

  main.desktop .recommendations {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }
  main.desktop .recommendations .recommendation {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 100%;
  }

  main.desktop .recommendations .recommendation #video {
    flex: 1;
    width: 0;
    min-width: 0;
    height: auto;

    aspect-ratio: 16/9;
    border-radius: 0.5rem;
    background-color: gray;
  }

  main.desktop .recommendations .recommendation #video img {
    border-radius: 0.5rem;
  }

  main.desktop .recommendations .recommendation .info {
    flex: 1.35;
    width: 0;
    min-width: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main.desktop .recommendations .recommendation .info > div {
    display: flex;
    flex-direction: column;
  }

  main.desktop .recommendations .recommendation .video-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500rem;
  }

  main.desktop .recommendations .recommendation .profile-name,
  main.desktop .recommendations .recommendation .views,
  main.desktop .recommendations .recommendation .video-date
  {
    color: #aaa;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }

  main.desktop .recommendations .recommendation .material-symbols-outlined {
    cursor: pointer;
  }

  main.desktop .recommendations .recommendation .video-date::before {
    content: "\2022";
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  main.desktop .comments {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }

  main.desktop .comments #comments-number-and-sort {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
  }

  main.desktop .comments span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  main.desktop .comments #sort-comments {
    display: flex;
    column-gap: 0.25rem;
    cursor: pointer;
  }

  main.desktop .comments #sort-comments span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
  }

  main.desktop .comments #sort-comments span.material-symbols-outlined {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  main.desktop .comments #add-comment {
    display: flex;
    flex-direction: row;
    column-gap: 0.875rem;
  }


  main.desktop .comments #add-comment .profile-image {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }

  #comment-input-and-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  main.desktop .comments #add-comment input {
    border: none;
    border-bottom: 1px solid #333;
    color: #aaa;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 100%;
    background-color: inherit;
  }

  main.desktop .comments #add-comment input:focus {
    outline: none;
  }

  main.desktop .comments .comment {
    display: flex;
    column-gap: 1rem;
  }

  main.desktop .comments #name-and-date {
    display: flex;
    column-gap: 0.5rem;
  }

  main.desktop .comments #name-and-date .name {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
  }
  
  main.desktop .comments #name-and-date .date {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #aaa;
  }

  main.desktop .comments .comment .text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  main.desktop .comments .comment .image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
  }

  main.desktop .comments .comment #like-and-dislike {
    display: flex;
    column-gap: 0.5rem;
  }

  main.desktop .comments .comment #like-and-dislike button {
    border: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
  }

  main.desktop .comments .comment #like-and-dislike span {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  main.desktop .comments .comment .reply {
    font-weight: 500;
    line-height: 2rem;
  }

  main.desktop .description {
    background-color: #272727;
    border-radius: 1rem;
    padding: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    min-height: 4rem;
  }

  main.desktop .description p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  main.desktop .description .views,
  main.desktop .description .date
  {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  main.desktop .description .date {
    margin-left: 0.75rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

#like-and-dislike button.like.reaction,
#like-and-dislike button.dislike.reaction {
  background-color: #f11325 !important;
  border-radius: 0.75rem;
}

#sign-in-to-continue {
  background-color: #212121;
  display: none;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  row-gap: 1rem;
  align-items: center;
}

#sign-in-to-continue > div {
  display: flex;
  justify-content: end;
  width: 100%;
}

#sign-in-to-continue > div .close-sign-in-to-continue:hover {
  cursor: pointer;
}

#sign-in-to-continue span:nth-child(2) {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: white;
  margin: 0;
}

#sign-in-to-continue span:nth-child(3) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #aaa;
  margin: 0;
}

#sign-in-to-continue button {
  color: #0f0f0f;
  font-size: 0.875rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
}

#share-modal {
  display: none;
  flex-direction: column;
  row-gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212121;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 21.5rem;
  max-width: 21.5rem;
  z-index: 9999;
}

#share-modal #share-and-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#share-modal .platforms {
  display: flex;
  overflow: scroll;
  column-gap: 0.75rem;
}

#share-modal .platforms .platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
}

#share-modal .platforms .platform .platform-image {
  display: flex;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#share-modal .platforms .platform .platform-image img {
  width: 65%;
  height: 65%;
}

#share-modal .platforms .platform span {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

#share-modal .videoLink {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #0f0f0f;
  border-radius: 0.75rem;
  justify-content: space-between;
}

#share-modal .videoLink input {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  background-color: inherit;
  flex: 1;
  border: none;
  color: white;
}

#share-modal .videoLink button {
  color: #212121;
  background-color: #f11325;
  border: none;
  padding: 0.625rem 1rem;
  border-radius: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
}

#share-modal .videoLink button:hover {
  filter: brightness(90%);
}

button.subscribe.reaction {
  background-color: #f11325 !important;
}

#videoNotFound {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#videoNotFound > span:first-child {
  color: #f11325;
  font-size: 12rem;
  line-height: 10rem;
  font-weight: 500;
}

#videoNotFound > p {
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
  font-weight: 400;
}

#videoNotFound > div {
  margin-top: 1rem;
  display: flex;
  column-gap: 0.5rem;
}

#videoNotFound > div > div:nth-child(1) {
  width: 4rem;
  height: 2rem;
}

#videoNotFound img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#videoNotFound > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  column-gap: 0rem;
}

#videoNotFound input {
  border: none;
  font-size: 1.25rem;
}

#videoNotFound button {
  border: none;
  background-color: #f11325;
  cursor: pointer;
}

#report-video {
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  row-gap: 1rem;
}

#report-video > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#report-video > div:nth-child(2) > div {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

#report-video hr {
  margin: 0;
}

#report-video textarea {
  width: 100%;
  background-color: inherit;
  border: 1px solid #aaa;
  color: white;
  padding: 0.75rem 0.75rem;
}

#report-video input { 
  appearance: none;
  border-radius: 100%;
  border: 1px solid white;
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
}

#report-video input:hover { 
  cursor: pointer;
}

#report-video input:checked { 
  background-color: #f11325;
}

#report-video p {
  color: #aaa;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

#report-video > div:last-child {
  display: flex;
  justify-content: end;
  column-gap: 1.25rem;
}


#report-video > div:last-child button {
  background-color: inherit;
  font-size: 1.25rem;
  border: none;
}

#report-video > div:last-child button:hover {
  cursor: pointer;
}

#report-video > div:last-child button:nth-child(1) {
  color: white;
}

#report-video > div:last-child button:nth-child(2) {
  color: #f11325;
}

.plyr__video-embed iframe {
  top: -50% !important;
  height: 200% !important;
}
