@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
}

html body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #060d17;
  color: #ffffff;
  min-height: 100vh;
  line-height: 1.5;
}

nav {
  position: fixed;
  bottom: 80px;
  right: 0;
  padding: 0.25rem;
  background-color: #18182a;
  width: 256px;
  z-index: 9000;
}

span, button, p {
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

main {
  padding: 0rem 4rem 0rem 4rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav {
    bottom: 0px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
