@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-dark: #060d17;
  --text-light: #ffffff;
  --text-muted: #9ca3af;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0;
  padding: 1rem;
}

.button-container {
  display: none;
}

#movie-count {
  margin-top: 1rem;
}
